@font-face {
    font-family: "Graphik";
    src: url("fonts/Graphik-Regular.woff") format('woff');
}

* {
  font-family: 'Graphik', sans-serif;
}

body {
  background-color: #121212;
  padding: 0;
  margin: 0;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  color: white;
  text-align: center;
  /*whatever width you want*/
}

.inner a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  margin: 10px;
  transition: 0.2s;
}

.inner a:hover {
  color: magenta;
}

.links {
  display: center;
}

.discord {
  transition: 0.2s;
  margin-top: 15px;
  padding: 20px;
  cursor: pointer;
  border-radius: 3px;
  background: linear-gradient(90deg, #8E15D9 15.63%, rgba(156, 71, 222, 0.31) 89.58%), #E711B8;
}

.discord:hover {
  transform: translateY(3px);
  background: linear-gradient(360deg, #8E15D9 15.63%, rgba(156, 71, 222, 0.31) 89.58%), #E711B8;
}

.joinDiscord {
  color: white!important;
}

.joinDiscord:hover {
  color: white!important;
}

@media screen and (max-width: 420px) {
  .links {
    display: block;
  }
}
